.header-container {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 999;
    position: fixed;
    background-color: #141d2f;

    a {
        text-decoration: none;
        color: white;
    }
}

.name {
    font-weight: 700;
    font-size: 42px;
}

.link-container {
    display: flex;

    a {
        margin-left: 32px;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        text-decoration: none;
        color: white;
        position: relative;

        &:hover {
            color: #70E61C;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: #9747FF;
            transition: all 0.3s ease-in-out;
            transform-origin: left;
        }

        &:hover:after {
            width: 100%;
            transform: scaleX(1);
        }
    }
}