.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 100vw;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141d2f;
}

.name {
    font-weight: 700;
    font-size: 42px;
}

.link-container {
    display: flex;

    div {
        margin-left: 16px;
        margin-right: 16px;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
    }
}