.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    color: white;
    padding: 37px 100px;
}

.name {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.link-container {
    display: flex;

    div {
        margin-left: 16px;
        margin-right: 16px;
        font-family: 'poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
    }
}