.footer-container {
    width: 100vw;
    box-sizing: border-box;
    border-top: 4px solid #70E61C;
    background-color: #141D2F;
    height: 200px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;

    a {
        text-decoration: none;
        font-size: 16px;
        color: white;
    }

    span {
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
    }
}

.links {
    display: flex;
    flex-direction: column;
}

.icon-links {
    display: flex;
    align-items: center;

    a {
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    img {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 576px) {
    .footer-container {
        padding-left: 25px;
        padding-right: 25px;
        flex-direction: column;

        span {
            font-size: 18px;
        }
    }

    .links {
        padding-top: 12px;
        align-items: center;

        a {
            font-size: 14px;
            margin-top: 8px;
        }
    }

    .icon-links {
        padding-bottom: 8px;
    }
}