<div class="footer-container">
    <div class="links">
        <img class="logo" src="assets/img/icons/android-chrome-192x192.png" alt="Picture of my logo.">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection" rel="nofollow">Data protection</a>
    </div>

    <span>© Malaica Brunks 2022</span>

    <div class="icon-links">
        <a href="https://github.com/Malinhe" target="_blank">
            <img src="assets/img/icons/github.png" alt="Picture of the github-icon">
        </a>
        <a href="#contact">
            <img src="assets/img/icons/mail.png" alt="Picture of the mail-icon">
        </a>
        <a href="https://www.linkedin.com/in/malaica-brunks-a6840a243" target="_blank">
            <img src="assets/img/icons/linkedIn.png" alt="Picture of the linkedIn-icon">
        </a>
    </div>
</div>