<div class="footer-container">
    <div class="links">
        <span class="my-name">MALAICA</span>
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data protection</a>
        <!-- <span class="imprint"></span> -->
        <!-- <span class="data-protection">Data protection</span> -->
    </div>

    <span>© Malaica Brunks 2022</span>

    <div class="icon-links">
        <a href="https://github.com/Malinhe" target="_blank">
            <img src="assets/img/icons/github.png" alt="Picture of the github-icon">
        </a>
        <a href="#contact">
            <img src="assets/img/icons/mail.png" alt="Picture of the mail-icon">
        </a>
        <a href="https://www.linkedin.com/in/malaica-brunks-a6840a243" target="_blank">
            <img src="assets/img/icons/linkedIn.png" alt="Picture of the linkedIn-icon">
        </a>
    </div>
</div>