.about-container {
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 32px;
    justify-content: space-between;
    overflow: hidden;
}


.about-infos {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;

    img {
        height: 32px;
        object-fit: cover;
        margin-right: 36px;
    }
}


.about-me {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    margin-bottom: 18px;
}


.info {
    max-width: 650px;
}


.paragraph {
    display: flex;
    align-items: center;
    margin-left: 20px;
    max-width: 550px;
}


.profile-pic-container {
    position: relative;
    margin-top: 12px;
    max-width: 455px;
    padding-right: 100px;
}


.shadow-photo-bg {
    width: 40rem;
    height: 28rem;
    margin-top: 104px;

}


.profile-pic {
    z-index: 1;
    width: 40rem;
    height: 44rem;
    object-fit: contain;
    position: relative;
    margin-top: -34rem;
}


.curved-image {
    position: absolute;
    width: 100vw;
    height: 22%;
    left: 0;
    right: 0;
    bottom: -111px;
    z-index: 2;
}


@media (max-width: 1217px) {

    .about-me {
        font-size: 80px;
    }

    .profile-pic-container {
        padding-right: unset;
        margin-right: -50px;
    }

    .shadow-photo-bg {
        margin-top: 10rem;
        width: 32rem;
    }

    .profile-pic {
        margin-top: -33rem;
        width: 28rem;
        height: 40rem;
    }
}


@media (max-width: 1030px) {
    .about-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: unset;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: -240px;
    }

    .about-me {
        margin-top: 108px;
    }

    .profile-pic-container {
        margin-left: 250px;
    }

    .shadow-photo-bg {
        width: 36rem;
        height: 40rem;
    }

    .profile-pic {
        margin-top: -40rem;
    }

    .curved-png-profile-pic {
        position: relative;
        width: 100vw;
    }
}


@media (max-width: 820px) {

    .about-container {
        margin-top: -140px;
    }

    .about-me {
        text-align: center;
    }

    .about-infos {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin-right: unset;
        }

        p {
            text-align: center;
        }
    }

    .paragraph {
        flex-direction: column;
        margin-top: 16px;
        margin-left: unset;
    }

    .profile-pic-container {
        margin-left: 150px;
    }
}


@media (max-width: 720px) {
    .profile-pic-container {
        margin-left: 75px;
    }

    .shadow-photo-bg {
        width: 32rem;
    }
}


@media (max-width: 630px) {
    .about-me {
        font-size: 45px;
        line-height: 120%;
    }

    .shadow-photo-bg {
        width: 28rem;
        height: 35rem;
    }

    .profile-pic {
        margin-top: -39rem;
        width: 24rem;
        height: 35rem;
    }
}


@media (max-width: 510px) {
    .about-me {
        margin-top: 50px;
    }

    .profile-pic-container {
        margin-left: 24px;
    }

    .shadow-photo-bg {
        width: 24rem;
        height: 29rem;
    }

    .profile-pic {
        width: 21rem;
    }

    .curved-image {
        bottom: -64px;
    }
}


@media (max-width: 390px) {
    .about-container {
        margin-top: -130px;
    }

    .shadow-photo-bg {
        width: 21rem;
        height: 25rem;
    }

    .profile-pic {
        width: 18rem;
    }

    .curved-image {
        bottom: 0;
    }
}