.d-flex {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.about-container {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
    justify-content: space-between;
    position: relative;
}

.about-infos {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    max-width: 500px;

    img {
        height: 32px;
        object-fit: cover;
        margin-right: 36px;
    }
}

.about-me {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
}

.profile-pic-container {
    position: relative;
    padding-right: -40px;
    margin-right: 8rem;
    margin-top: 24px;
}

.shadow-photo-bg {
    width: 42rem;
    height: 50rem;
    margin-top: 79px;
}

.profile-pic {
    position: absolute;
    top: 85px;
    right: 120px;
    width: 32rem;
    height: 38rem;
    object-fit: contain;
}

.curved-image {
    position: absolute;
    width: 100vw;
    height: 240px;
    bottom: 0;
    left: 0;
}