.d-flex {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.about-container {
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 32px;
    justify-content: space-between;
}

.about-infos {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    max-width: 455px;

    img {
        height: 32px;
        object-fit: cover;
        margin-right: 36px;
    }
}

.about-me {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    margin-bottom: 18px;
}

.profile-pic-container {
    position: relative;
    margin-top: 12px;
    max-width: 455px;
    padding-right: 100px;
}

.shadow-photo-bg {
    width: 40rem;
    height: 32rem;
    margin-top: 175px;
}

.profile-pic {
    position: absolute;
    top: 0;
    width: 40rem;
    height: 40rem;
    object-fit: contain;
}

.curved-image {
    position: absolute;
    width: 100vw;
    height: 14rem;
    left: 0;
    right: 0;
    bottom: -72px;
    z-index: 1;
}

@media(max-width: 1225px) {
    .about-me {
        font-size: 60px;
    }

    .profile-pic-container {
        padding-right: 4px;
    }

    .profile-pic {
        width: 26rem;
        height: 43rem;
        right: 0px;
    }

    .shadow-photo-bg {
        width: 28rem;
        height: 33rem;
    }

    .curved-image {
        height: 12rem;
        transform: rotate(-2deg);
    }
}

@media (max-width: 975px) {
    .about-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: unset;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 32px;
    }

    .about-me {
        font-size: 50px;
        margin-bottom: unset;
        margin-top: 20px;
    }

    .curved-image {
        bottom: unset;
        top: 48%;
        transform: unset;
    }
}

@media (max-width: 820px) {
    .about-me {
        font-size: 45px;
        line-height: 120%;
    }

    .curved-image {
        top: 48%;
        height: 12rem;
    }
}

@media (max-width: 576px) {
    .about-me {
        text-align: center;
    }

    .info {
        text-align: center;
    }

    .about-infos {
        font-size: 16px;
        line-height: 120%;
        margin-top: 4rem;

        img {
            margin-right: unset;
        }
    }

    .d-flex {
        flex-direction: column;
        margin-top: 16px;
        margin-left: unset;

        p {
            text-align: center;
        }
    }

    .shadow-photo-bg {
        width: 18rem;
        height: 24rem;
        margin-top: 14px;
    }

    .profile-pic {
        position: absolute;
        top: 2rem;
        width: 16rem;
        height: 22rem;
        object-fit: contain;
        left: 0;
    }

    .curved-image {
        height: 8rem;
        left: 0;
        right: 0;
        top: 39%;
    }
}

@media (max-width: 510px) {
    .curved-image {
        top: 37%;
    }
}

@media (max-width: 420px) {
    .curved-image {
        top: 33%;
    }

    // .about-me,
    // .info {
    //     padding-left: 28px;
    // }
}

@media (max-width: 380px) {
    .curved-image {
        top: 31%;
    }
}

@media (max-width: 350px) {
    .curved-image {
        top: 29%;
    }
}