<div class="project-container">
    <img src="assets/img/portfolio-pics/elPolloLoco.png"
        alt="Picture of a laptop wiht a screenshot from the El pollo loco game">
    <div>
        <span>El pollo loco</span>
        <p class="languages">JavaScript | HTML | CSS</p>
        <p class="description">A simple Jump-and-Run game based on an object-oriented approach.<br>
            Help Pepe to find coins, hearts and salsa-bottles bottles to fight
            against the big chicken.</p>
    </div>

</div>