// .project-container {
//     display: flex;
//     align-items: center;

//    

// }



.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    span {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        color: #9747FF;
    }

    img {
        width: 620px;
        height: 339px;
        object-fit: contain;
    }
}

.languages {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #70E61C;
}

.description {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.project-container:nth-child(even) img {
    margin-right: 0;
    margin-left: 2rem;
}

.image-right img {
    margin-right: 0;
    margin-left: 2rem;
}

.image-right>div {
    order: 1;
}

.image-left>div {
    order: 2;
}