.content-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: 100px;
    padding-top: 80px;

    h2 {
        color: #9747FF;
    }

    span {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        color: #9747FF;
    }

    img {
        width: 500px;
        height: 300px;
        object-fit: contain;
        margin-left: 60px;
    }
}

.languages {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #70E61C;
}

.description {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    max-width: 75%;
}

.image-container {
    width: 30rem;
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 1;
    padding-right: 24px;
    margin-left: 64px;
}

.content-right {
    flex-direction: row-reverse;
    text-align: -webkit-right;
}

.content-left {
    flex-direction: row;
    text-align: -webkit-left;
}

.btn-container {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.live-test-btn {
    height: 58px;
    width: 152px;
    border-radius: 10px;
    border: none;
    padding: 15px 30px 15px 30px;
    background-color: #9747FF;
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;

    &:hover {
        background-color: #70E61C;
    }
}

.github-btn {
    height: 58px;
    width: 152px;
    border-radius: 10px;
    border: 1px solid #70E61C;
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;

    &:hover {
        background-color: #70E61C;
    }
}

@media (max-width: 1200px) {
    .btn-container {
        margin-right: 8px;
    }
}

@media (max-width: 820px) {
    .content-right {
        flex-direction: unset;
        text-align: unset;
    }

    .content-left {
        flex-direction: unset;
        text-align: unset;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: unset;
        padding-top: 56px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding-right: unset;
    }

    .description {
        text-align: center;
        align-items: center;
    }

    .btn-container {
        justify-content: unset;
        flex-direction: column;
        align-items: center;

        a {
            margin-top: 12px;
        }
    }

    .content-container {
        padding-right: unset;
    }
}


@media (max-width: 576px) {

    .text-container {
        p {
            text-align: center;
        }
    }

    .content-container {
        padding-top: 32px;
        img {
            width: 75%;
        }
    }

    .text-container {
        width: 90%;
    }

    .btn-container {
        width: unset;
    }
}