<div class="contact-title">
    <h2>Contact</h2>
    <img src="assets/img/green-line2.png" alt="Picture of a green line">
</div>

<div class="contact-me">

    <div class="content-description">
        <div>
            <img class="blue-short-line" src="assets/img/blue-line-short.png" alt="Picture of a short blue line">
        </div>
        <span>Got a problem to solve?</span>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.</p>
        <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>

    <div class="contact-formular">
        <form action="https://malaica-brunks.developerakademie.net/send_mail/send_mail/send_mail.php">
            <input type="text" name="name" placeholder="Your name" required>
            <input type="email"  placeholder="Your email" required>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your message" required></textarea>
            <button>Send</button>
        </form>
    </div>
</div>

<img class="purple-shadow" src="assets/img/bg-shadows/purple-shadow-contact.png" alt="Picture of a purple shadow">