:host {
    overflow: hidden;
}

.contact-title {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;

    h2 {
        color: white;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        margin-right: 32px;
    }
}

.contact-me {
    position: relative;
    margin-top: 260px;
    padding: 0px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
}

.content-description {
    display: flex;
    flex-direction: column;
    color: white;
    width: 500px;

    img {
        margin-left: -100px;
    }

    span {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        margin-top: -24px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}

.contact-formular {
    width: 500px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        background-color: transparent;
        border: 1px solid #9747FF;
        border-radius: 10px;
        width: 470px;
        height: 40px;
        margin-bottom: 40px;
        padding: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: white;
    }

    textarea {
        background-color: transparent;
        border: 1px solid #9747FF;
        border-radius: 10px;
        width: 470px;
        height: 150px;
        margin-bottom: 40px;
        padding: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: white;
    }

    button {
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        background-color: #70E61C;
        color: white;
        border-radius: 10px;
        border: unset;
        padding: 15px 30px 15px 30px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &:hover {
            background-color: #9747FF;
            transform-origin: top left;
            animation: btn-animation 175ms ease-in;
            transform: scaleX(1.3) scaleY(1.3);
        }

    }
}

@keyframes btn-animation {
    0% {
        transform: scaleX(1.0) scaleY(1.0);
    }

    50% {
        transform: scaleX(1.2) scaleY(1.2);
    }

    100% {
        transform: scaleX(1.3) scaleY(1.3);
    }
}

.go-up-btn {
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-left: 50rem;
    padding-right: 100px;

    img {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.purple-shadow {
    position: absolute;
    bottom: -16rem;
    width: 56rem;
    z-index: -1;
    height: 22rem;
    right: 8px;
}

@media (max-width: 1230px) {
    .contact-title {
        margin-top: 24px;

        h2 {
            font-size: 80px;
        }
    }

    .contact-me {
        padding-right: 75px;
    }

    .contact-formular {
        form {
            padding-left: 64px;
        }

        input {
            width: 85%;
        }

        textarea {
            width: 85%;
        }
    }
}

@media (max-width: 912px) {

    .purple-shadow {
        width: 60%;
        right: 72px;
    }

    .go-up-btn {
        padding-left: 37rem;
    }
}

@media (max-width: 820px) {
    .contact-title {
        h2 {
            font-size: 45px;
            line-height: 120%;
        }

        img {
            width: 64px;
            height: 4px;
            border-radius: 30px;
        }
    }

    .contact-me {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 25px;
        margin-top: 8rem;
    }

    .content-description {
        max-width: 100%;
        padding-left: 8px;

        span {
            font-size: 23px;
            line-height: 120%;
            margin-left: 24px;
        }

        p {
            font-size: 16px;
            line-height: 120%;
            margin-left: 24px;
        }

        img {
            margin-left: -58px;
        }
    }

    .contact-formular {
        max-width: 100%;

        form {
            align-items: center;
            padding-left: 22%;
            padding-top: 24px;
            width: 100%;
        }

        input {
            width: 100%;
        }

        textarea {
            width: 100%,
        }
    }

    .go-up-btn {
        padding-left: 32rem;
    }
}

@media (max-width: 750px) {
    .contact-formular {
        form {
            padding-left: 10%;
        }

        input {
            width: 90%;
        }

        textarea {
            width: 90%;
        }
    }
}

@media (max-width: 675px) {
    .contact-formular {
        form {
            width: 85%;
        }

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }
}

@media (max-width: 620px) {
    .content-description {
        p {
            margin-left: unset;
            width: 80%;
        }

        span {
            margin-left: unset;
        }
    }

    .contact-formular {
        form {
            align-items: flex-start;
        }

        input {
            width: 75%;
        }

        textarea {
            width: 75%;
        }

        button {
            margin-left: 20px;
            font-size: 16px;
            line-height: 120%;
        }
    }

    .purple-shadow {
        width: 100&;
    }

    .go-up-btn {
        bottom: -8rem;
        right: 11rem;
        padding-left: 10rem;
    }
}

@media (max-width: 460px) {

    .contact-formular {

        form {
            align-items: center;
            padding-left: unset;
        }

        button {
            margin-left: unset;
            width: 85%;
        }
    }
}