.header-container {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 999;
    position: fixed;
    background-color: #141d2f;
}

.burger-menu {
    cursor: pointer;
}

.dropdown-menu {
    background-color: #424856;
    opacity: 0.8;
    z-index: 4;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 23px;
        line-height: 120%;
    }
}

@media (max-width: 1000px) {
    .header-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 720px) {
    .header-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}