.portfolio-content {
    width: 100vw;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 100px;
}

.portfolio-title {
    display: flex;
    align-items: center;


    img {
        margin-left: -100px;
        margin-right: 50px;
    }

    span {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        color: white;
    }
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
}

@media (max-width: 576px) {
    .portfolio-content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .portfolio-title {
        span {
            font-size: 45px;
            line-height: 120%;
        }

        img {
            margin-right: 16px;
            width: 4rem;
            height: 4px;
            padding-left: -17px;
            margin-left: -24px;
        }
    }
}