<div class="skill-container">
    <table>
        <tr>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/html.png" alt="HTML icon">
                    <span style="color: white;">HTML</span>
                </div>
            </td>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/css.png" alt="CSS icon">
                    <span style="color: white;">CSS</span>
                </div>
            </td>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/javascript.png" alt="JavaScript icon">
                    <span style="color: white;">JavaScript</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/api.png" alt="Rest-API icon">
                    <span style="color: white;">Rest-API</span>
                </div>
            </td>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/git.png" alt="GIT icon">
                    <span style="color: white;">GIT</span>
                </div>
            </td>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/angular.png" alt="Angular icon">
                    <span style="color: white;">Angular</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/typescript.png" alt="TypeScript icon">
                    <span style="color: white;">TypeScript</span>
                </div>
            </td>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/firebase.png" alt="Firebase">
                    <span style="color: white;">Firebase</span>
                </div>
            </td>
            <td>
                <div class="skills">
                    <img src="assets/img/icons/scrum.png" alt="Scrum">
                    <span style="color: white;">Scrum</span>
                </div>
            </td>
        </tr>
    </table>

      
      




</div>