 .skill-container {
     box-sizing: border-box;
     padding-left: 100px;
     width: 100vw;
     display: flex;
     justify-content: space-between;

     td {
         padding-right: 80px;
         padding-bottom: 80px;
     }
 }

 .skills {
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;

     img {
         width: 54px;
         object-fit: cover;
     }

     span {
         font-weight: 700;
         font-size: 16px;
         line-height: 19.2px;
     }
 }

 .skills-container-right-side {
     max-width: 50%;
     margin-left: 150px;
     margin-top: -38px;
     color: white;

     span {
         font-weight: 700;
         font-size: 90px;
         line-height: 108px;
     }

     p {
         font-size: 16px;
         font-weight: 400;
         line-height: 19px;
     }

     button {
         background-color: #70E61C;
         border-radius: 10px;
         color: white;
         border: unset;
         padding: 15px 30px 15px 30px;
         cursor: pointer;
         margin-top: 20px;

         &:hover {
             background-color: #9747FF;
             transform-origin: top left;
             animation: btn-animation 175ms ease-in;
             transform: scaleX(1.3) scaleY(1.3);
         }

         span {
             font-size: 23px;
             font-weight: 400;
             line-height: 28px;
         }
     }

     img {
         margin-left: 64px;
     }
 }

 .box1 {
     display: flex;
     align-items: center;
     margin-top: 188px;
     //  margin-right: 54px;
 }



 @keyframes btn-animation {
     0% {
         transform: scaleX(1.0) scaleY(1.0);
     }

     50% {
         transform: scaleX(1.2) scaleY(1.2);
     }

     100% {
         transform: scaleX(1.3) scaleY(1.3);
     }
 }