<div class="skill-container">
    <div>
        <div class="table">
            <table>
                <tr>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/javascript.png" alt="JavaScript icon">
                            <span>JavaScript</span>
                        </div>
                    </td>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/typescript.png" alt="TypeScript icon">
                            <span>TypeScript</span>
                        </div>
                    </td>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/angular.png" alt="Angular icon">
                            <span>Angular</span>
                        </div>
                    </td>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/html.png" alt="HTML icon">
                            <span>HTML</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/git.png" alt="GIT icon">
                            <span>GIT</span>
                        </div>

                    </td>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/firebase.png" alt="Firebase">
                            <span>Firebase</span>
                        </div>
                    </td>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/css.png" alt="CSS icon">
                            <span>CSS</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/scrum.png" alt="Scrum">
                            <span>Scrum</span>
                        </div>
                    </td>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/api.png" alt="Rest-API icon">
                            <span>Rest-API</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skills">
                            <img src="assets/img/icons/material-design.png" alt="Material design icon">
                            <span style="text-align: center;">Material<br>
                                Design
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="get-in-touch-btn-container">
            <button onclick="location.href='#contact'" class="get-in-touch-btn btn-design">Get in touch</button>
        </div>
    </div>


    <div class="skills-container-right-side">
        <div class="box1">
            <span>Skills</span>
            <img src="assets/img/blue-line.png" alt="Picture of a blue line">
        </div>

        <div class="box2">
            <p>I have gained experience in building projects with various<br>
                front end technologies and concepts</p>
        </div>

        <div class="box3">
            <button onclick="location.href='#contact'" class="btn-design">Get in touch</button>
        </div>
    </div>
</div>