 .skill-container {
     box-sizing: border-box;
     padding-top: 104px;
     padding-left: 100px;
     width: 100vw;
     display: flex;
     justify-content: space-between;

     td {
         padding-right: 80px;
         padding-bottom: 80px;
     }
 }

 .skills {
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;

     img {
         width: 54px;
         object-fit: cover;
     }

     span {
         font-weight: 700;
         font-size: 16px;
         line-height: 19.2px;
     }
 }

 .skills-container-right-side {

     margin-top: -38px;
     color: white;

     span {
         font-weight: 700;
         font-size: 90px;
         line-height: 108px;
     }

     p {
         font-size: 16px;
         font-weight: 400;
         line-height: 19px;
     }

     img {
         margin-left: 32px;
         margin-right: -8px;
     }
 }

 .box1 {
     display: flex;
     align-items: center;
     margin-top: 188px;
 }

 .get-in-touch-btn-container {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .get-in-touch-btn {
     display: none;
 }

 .btn-design {
     background-color: #70E61C;
     border-radius: 10px;
     color: white;
     border: unset;
     padding: 15px 30px 15px 30px;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
     cursor: pointer;
     margin-top: 20px;
     font-size: 23px;
     font-weight: 400;
     line-height: 28px;

     &:hover {
         background-color: #9747FF;
         transform-origin: top left;
         animation: btn-animation 175ms ease-in;
         transform: scaleX(1.3) scaleY(1.3);
     }
 }

 @keyframes btn-animation {
     0% {
         transform: scaleX(1.0) scaleY(1.0);
     }

     50% {
         transform: scaleX(1.2) scaleY(1.2);
     }

     100% {
         transform: scaleX(1.3) scaleY(1.3);
     }
 }

 @media (max-width: 768px) {
     .skill-container {
         flex-direction: column-reverse;
         padding-left: 75px;


         td {
             padding-right: 60px;
             padding-bottom: 60px;
         }
     }

     .table {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .skills {
         img {
             width: 38px;
         }
     }

     .skills-container-right-side {
         margin-bottom: 48px;
         display: flex;
         flex-direction: column;
         align-items: flex-end;


         button {
             display: none;
         }
     }

     .box2,
     .box3 {
         text-align: center;
         width: 100%;
     }

     .get-in-touch-btn {
         display: block;
     }
 }

 @media (max-width: 576px) {
     .skills-container-right-side {
         span {
             font-size: 45px;
             line-height: 120%;
         }

         p {
             font-size: 16px;
             line-height: 120%;
         }
     }

     .btn-design {
         font-size: 16px;
         line-height: 120%;
     }

     .skill-container {
         padding-left: 25px;

         td {
             padding-right: 30px;
             padding-bottom: 30px;
         }
     }
 }