<div class="content">
    <div class="main">
        <img class="img-left" src="assets/img/bg-shadows/purple-shadow.png" alt="Picture of a purple shadow">
        <img class="img-right" src="assets/img/bg-shadows/blue-shadow.png" alt="Picture of a blue shadow">

        <div class="presentation-container">
        <div class="presentation">
            <span class="vertikal">I am</span>

            <div class="name-job-title">
                <span class="my-name">Malaica Brunks</span>
                <span class="job-title">FRONTEND DEVELOPER</span>

            </div>
        </div>
        <div class="btn-container">
            <button>
                <span>Let´s talk!</span>
            </button>
        </div>
    </div>
    </div>


   

    <div class="icon-links">
        <img src="assets/img/green-line.png" alt="Green line">
        <img src="assets/img/icons/github.png" alt="Picture from github-icon">
        <img src="assets/img/icons/mail.png" alt="Picture from mail-icon">
        <img src="assets/img/icons/linkedIn.png" alt="Picture from linkedIn-icon">
    </div>

    <div class="scroll-down">
        <span>Scroll down <img src="assets/img/arrow.png" alt="Picture from an arrow"></span>
    </div>
</div>

<app-about-me id="aboutMe"></app-about-me>
<app-my-skills id="skills"></app-my-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact style="position: relative;" id="contact"></app-contact>