<div id="home" class="content">
    <div class="main">
        <img class="img-left" src="assets/img/bg-shadows/purple-shadow.png" alt="Picture of a purple shadow">
        <img class="img-right" src="assets/img/bg-shadows/blue-shadow.png" alt="Picture of a blue shadow">

        <div>
        <div class="presentation">
            <span class="vertikal">I am</span>

            <div class="name-job-title">
                <span class="my-name">Malaica Brunks</span>
                <span class="job-title">FRONTEND DEVELOPER</span>

            </div>
        </div>
        <div class="btn-container">
            <button onclick="location.href='#contact'">Let´s talk!</button>
        </div>
    </div>

   
    </div>
    <div class="link-and-scroll">

        <div class="icon-links">
            <img src="assets/img/green-line.png" alt="Green line">
            <a href="https://github.com/Malinhe" target="_blank">
                <img src="assets/img/icons/github.png" alt="Picture of the github-icon">
            </a>
            <a href="#contact">
                <img src="assets/img/icons/mail.png" alt="Picture of the mail-icon">
            </a>
            <a href="https://www.linkedin.com/in/malaica-brunks-a6840a243" target="_blank">
                <img src="assets/img/icons/linkedIn.png" alt="Picture of the linkedIn-icon"> 
            </a>
        </div>
    
        <div class="scroll-down hide-on-mobile">
            <span>Scroll down <img src="assets/img/arrow.png" alt="Picture from an arrow"></span>
        </div>
    
    </div>
  
   

</div>


<app-about-me style="position: relative;" id="aboutMe"></app-about-me>
<app-my-skills id="skills"></app-my-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact></app-contact>
<app-footer></app-footer>