 .content {
     width: 100vw;
     box-sizing: border-box;
 }

 .main {
     width: 100vw;
     height: 64vh;
     display: flex;
     justify-content: center;
     position: relative;
 }

 .img-left {
     position: absolute;
     left: 0;
     top: 72px;
     height: 32rem;
     width: 25rem;
 }

 .img-right {
     position: absolute;
     right: 0;
     top: 72px;
     height: 32rem;
     width: 25rem;
 }

 .presentation {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 230px;
 }

 .vertikal {
     color: white;
     writing-mode: vertical-lr;
     rotate: 180deg;
     font-weight: 400;
     font-size: 64px;
     line-height: 120%;
 }

 .name-job-title {
     display: flex;
     flex-direction: column;
     margin-left: 35px;
 }

 .my-name {
     color: white;
     font-weight: 700;
     font-size: 90px;
     line-height: 120%;
 }

 .job-title {
     color: #9747FF;
     font-weight: 400;
     font-size: 58px;
     line-height: 120%;
 }

 .btn-container {
     position: relative;
     width: 100vw;

     button {
         background-color: #70E61C;
         color: white;
         border-radius: 10px;
         border: unset;
         padding: 15px 30px 15px 30px;
         cursor: pointer;
         position: absolute;
         left: 46vw;

         &:hover {
             transform-origin: top left;
             animation: btn-animation 175ms ease-in;
             transform: scaleX(1.3) scaleY(1.3);
         }

         span {
             font-size: 23px;
             font-weight: 400;
             line-height: 28px;
         }
     }
 }



 @keyframes btn-animation {
     0% {
         transform: scaleX(1.0) scaleY(1.0);
     }

     50% {
         transform: scaleX(1.2) scaleY(1.2);
     }

     100% {
         transform: scaleX(1.3) scaleY(1.3);
     }
 }


 .icon-links {
     display: flex;
     align-items: center;
     margin-left: -15px;
     margin-top: 140px;

     img {
         margin-left: 16px;
         margin-right: 16px;
     }
 }

 .scroll-down {
     display: flex;
     align-items: center;
     writing-mode: vertical-lr;
     color: white;
     position: absolute;
     right: 112px;
     bottom: 32px;

     span {
         font-weight: 400;
         font-size: 23px;
         line-height: 27.6px;
     }

     img {
         margin-top: 4px;
         margin-right: 4px;
     }
 }