<!-- <img class="main-pic" src="assets/img/photo1.png" alt="application photo"> -->
<!-- <img class="curved-line" src="assets/img/vector1.png" alt="curved line"> -->
<div class="content">
    <div class="main">

        <img class="img-left" src="assets/img/purple-shadow.png" alt="Picture of a purple shadow">
        <img class="img-right" src="assets/img/blue-shadow.png" alt="Picture of a blue shadow">

        <div class="presentation">
            <span class="vertikal">I am</span>

            <div class="name-job-title">
                <span class="my-name">Malaica Brunks</span>
                <span class="job-title">FRONTEND DEVELOPER</span>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="icon-links">
            <img src="assets/img/green-line.png" alt="Green line">
            <img src="assets/img/git.png" alt="Picture from github-icon">
            <img src="assets/img/mail.png" alt="Picture from mail-icon">
            <img src="assets/img/linkedIn.png" alt="Picture from linkedIn-icon">
        </div>

        <div class="scroll-down">
            <span>Scroll down</span>
            <img src="assets/img/arrow.png" alt="Picture from an arrow">
        </div>
    </div>
</div>