body {
  margin: 0;
  background-color: #141D2F;
  font-family: 'Poppins';
  font-style: normal;
}

html {
  overflow-x: hidden;

  scroll-behavior: smooth;
  
  // Verstecke die Standard-Scrollbar
  ::-webkit-scrollbar {
    display: block;
  }

  // Stilisiere die eigene Scrollbar
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9747FF;
    border-radius: 5px;
  }
}

.logo {
  width: 56px;
}

@media (max-width: 520px) {
  .logo {
    width: 42px;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}