body {
    margin: 0;
    background-color: #141D2F;
    font-family: 'Poppins';
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden
}

// body::-webkit-scrollbar {
//     width: 0;
//     height: 0;
//     background: transparent
// }
